html, body {
  height: 100%; /* Ensure the body takes up the full height */
  margin: 0;    /* Remove default margin */
}
.container {
    background-color: #ffe5e5;
    padding: 20px;
    border-radius: 10px;
    width: 100%;     
    height: 100%;      
    box-sizing: border-box; 
}
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .files-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .file-item {
    display: flex;
    justify-content: space-between; /* Distribute space between children */
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
  }
  
  
  .file-name {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .file-details {
    display: flex;
    gap: 15px;
    margin-right: 10px; /* Add some margin to create space from the cancel button */
    justify-content: space-between;
    width: 200px;
  }
  
  .file-count {
    font-size : 16px;
    flex-shrink: 0;
  }
  
  .file-code {
    font-size: 16px;
    color: #555;
    flex-shrink: 0;
  }
  
  .file-status {
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
  }
  
  .cancel-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  